* {
    /* display: flex; */
    /* justify-content: center; */
}

body {
    font-family: "Norse Bold";
}

.img-container {
    display: flex;
    
}

#bg-image {
    position: relative;
    display: flex;
    align-items: left;
    background-size: 100% 100%;
    height: 100%;
    max-width: 35%;
}

#logo-image {
    position: absolute;
    top: 15%;
    left: 8%;
    height: auto;
    max-width: 8%;
}

h1 {
    position: absolute;
    color: white;
    top: 15%;
    left: 17%;
}

.text-container {
    /* display: flex; */
}